<h1>Lista czytających</h1>
{% if readers_list %}
    <table>
        <tr>
            <td>[godność]</td>
            <td>[usuń]</td>
        </tr>
        {% for reader in readers_list %}
        <tr>
        <td><a href="{% url 'lister:reader_detail' reader.id %}">{{ reader.name }}</a></td>
            <td><a href="{% url 'lister:delete_reader' reader.id %}">Usuń</a></td>
        </tr>
        {% endfor %}
    </table>
{% else %}
    <p>Nie dodałeś jeszcze żadnego czytającego.</p>
{% endif %}

